/* Background */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

/* Standard Page - Footer (attempting footer creation) */
#page-container {
  position: relative;
  min-height: 100vh;
}

/* Header */
.headerbox{
display: block;
width: 100%;
position: absolute;
top: 20px;
margin: 20px auto;
left: 50%;
transform: translate(-50%, -50%);
background: #191919;
text-align: center;
color: white;
}

/* Data Strip */
.centerbox{
display: block;
position: absolute;
top: 85px;
width: 70%;
margin-left: 15%;
margin-right: 15%;
padding: 5px;
text-align: center;
background: #FFFFFF;
}

/* Sidebar to Right of Data Strip / Potential For Transaction History */
.sidebar right{
display: block;
position: absolute;
top: 85px;
width: 15%;
height: 100%;
background: #34495e;
}

/* Footer - Currently Not In Use */
#footer {
  position: relative;
  z-index: 1;
  bottom: 0px;
  height: 40px;
  background-color: #34495e;
  color: white;
  text-align: center;
}

/* Used For News */
#first {
    width: 75%;
    float: left;
    height: 300px;
    text-align: left;
}

/* Used For Binance.US Manual Currency Purchasing */
#second {
    width: 25%;
    float: left;
    height: 300px;
}

/* Clears #first and #second - Not sure if actually needed but will use temporarily */
#clear {
    clear: both;
}
